body {
    font-family: 'Roboto', sans-serif;
    color: #22252C;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #22252C;
    margin-top: 0px;
}

#interface h3 {
    color: #CECCCB;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #22252C;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #22252C;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #22252C;
}

.spinner-container {
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:black;
    opacity: 0.7;
    z-index: 100;
}

.spinner {
    position:absolute;
    top:40%;
    left:48%;  
    z-index: 200;    
}

#map {    
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; 
}

#interface {
    background-color:#42413D;
    position:absolute;
    width:22%;
    height: auto;
    top: 10px;
    left: 10px;
    padding:20px 20px 0 20px;
}

.modal-dialog, .modal-content {
    border-radius:0px;
}

#aboutModal .modal-body {
    margin-top: 20px;
}

#contactModal .modal-dialog {
    background-color:#42413D;
    width: 350px;    
}

.close {
    margin: 3px 8px 0 0;
}

#contactModal .close {
    color:#42413D;
}

.contactform {
    font-family: 'Roboto', sans-serif;
    color: #CECCCB;
    background-color:#42413D;    
    border-radius: 0px;
    padding: 30px 15px 15px;
}

.contactform .error {
    color: #EAC67A;
}

.copyright {
    font-size: .75em;
    margin-top: -10px;
}

ng-map {
    height:100%;
    width: 100%;
}

.form-control {
    border-radius: 0px;
}

#interface .form-control {    
    border: solid 3px #A9A9A9;
    color: #22252C;
}

#interface .form-control:focus {
  border-color: #984B43;
}

#interface .selected {
    background-color: #984B43;
    color: #FFFFFF;
}

.btn {
    border-radius: 0px;    
    background-color: #984B43;
    color: #DFDCE3;
}

.btn:hover {
    background-color: #984B43;
    color: #EAC67A;
}

.outer-searchbar {
    margin: 5% 0 5% 0;
    height:34px;
}

.inner-searchbar {
    width:100%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container-fluid .row .col-md-9 {
    padding-left: 5px;
}

.scrollmenu-container {
    min-width: 100%;
    height:355px;
    background-color: #CECCCB;
    overflow-x: hidden;    
    float:left;
    border: solid 3px #CECCCB;    
}

.list-group {
    margin-bottom: 0px;
}

.scrollmenu li {
    background-color: #FFFFFF;
    color: #233237;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.scrollmenu li:first-child {
    border-top: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.scrollmenu li:last-child {
    border-bottom: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.scrollmenu li:hover {
    background-color: #EAC67A;
    color: #FFFFFF;
}

.scrollmenu-container::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #CECCCB;
}

.scrollmenu-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #CECCCB;
}

.scrollmenu-container::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #42413D;
}

footer p {
    font-size: .90em;
    color: #CECCCB;
    padding-top:5px;
}

footer a {
    color: #CECCCB;
    text-decoration: underline;
}

footer a:hover {
    color: #EAC67A;
}

.modal-dialog {
    width:700px;
}

.modal-header {
    padding: 5px;
}

.modal-header .modal-title {
    text-align:center;
    float:left;
    width:95%;
    height:30px;
}

.modal-title h4 {
    margin-top: 5px;
}

.close-icon {
    float:right;
    display: block;
    width: 5%;
}

.modal-body {
    position:absolute;
    height:100%;
    padding: 0;
}

/* mobile menu */
#hidemenu, #showmenu, .mobile-button {
    display:none;
}
#mobile-btn {
    margin:0 auto;
    width:30%;
}
.mobile-button {
    color: #CECCCB;
}
.mobile-button p {
    display: inline-block;
}

/* For iPhones and iPads */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    #interface {
        width:100%;
        top: 0px;
        left: 0px;
    }
    #interface h3 {
        font-size: 17px;
    }
    .scrollmenu-container {
        height:100px;
    }
    .modal-dialog {
        width: 95%;
    }
}
